/* Common properties */
*{
  font-family: "Roboto", 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Sections Background color */
.section.hero, .footer{
  background-color: #1F2937;
}

.cta, .cta-button{
  background-color: #3882f6
}

/* Font color */
.section.hero, .cta, .footer{
  color: #F9FAF8;
}

/* Common button styling */
.header-button,.cta-button{
  color: #F9FAF8;
  background-color: #3882f6;
  padding: 5px 20px;
}

/* Section header*/

.header{
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  margin: 0;
}

.logo{
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 700;
  margin: 12px;
}

.header-link{
  display: flex;
  gap: 32px;
  list-style: none;
  color: #adadad;
}

.content{
  display:flex;  
  padding: 100px; 
  justify-content: center;
}

.content-right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 100px;
  height: 300px;
}

.title{
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.subtext{
  font-size: 18px;
  color: #E5E7EB;
  margin: 10px 0px;
}

.header-button{
  border: 2px solid  #3882f6;
  border-radius: 10%;
  font-weight: 700;
}

.content img{
  /* Image inside the hero section */
  width: auto;
  height: 300px;
  border-radius: 10%;
}

/* Section random */

.random-title{
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
  text-align: center;
}

.cards{
  display: flex;
  justify-content: center;
  margin: 50px 50vw;
  gap: 30px;
  text-align: center; 
}

.text-card{
  color: #7a7a7a; 
}

.img-card{ 
  border: 4px solid  #3882f6;
  border-radius: 10%;
  /*to be revisited as scaling inconsistent*/
  width: 200px;
  height: 200px;
}

/* Section quote */

.section.quote{
  background-color: #E5E7EB;
  color: #555555;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 10vh;
}

.quote{
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  padding: 5vh 10vw 0;
  margin: auto;
}

.citation{
  align-self: flex-end;
  padding: 0 10vw;
  font-weight: 700;
  font-size: 24px;
}

/* Section CTA */

.cta-button{
  border: 2px solid  #F9FAF8;
  border-radius: 10%;
}

/* Footer */





















