/* Common properties */

*{
  font-family: "Roboto", 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section.hero, .footer{
  background-color: #1F2937;
}

.section.quote{
  background-color: #E5E7EB;
  color: #1F2937;
  
  font: 36px light italic;
}

.cta, .cta-button{
  background-color: #3882f6
}

.section.hero, .cta, .footer{
  color: #F9FAF8;
}

.header-button,.cta-button{
  color: #F9FAF8;
  background-color: #3882f6;
  padding: 5px 20px;
}

/* Single elements styling */

.random-title{
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
}

.section.hero img{
  width: auto;
  height: 300px;
}

.img-card{ 
  border: 4px solid  #3882f6;
  border-radius: 10%;
  /*to be revisited as scaling inconsistent*/
  width: 200px;
  height: 200px;
}

.header-button{
  border: 2px solid  #3882f6;
  border-radius: 10%;
  font-weight: 700;
}

.cta-button{
  border: 2px solid  #F9FAF8;
  border-radius: 10%;
}

.header{
  display: flex;
  justify-content: space-between;

}

/* three links on the header */
.header-link{
  display: flex;
  gap: 32px;
  list-style: none;
  color: #adadad;
  padding-right: 150px;
}

.title{
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.subtext{
  font-size: 18px;
  color: #E5E7EB;
}

.content{
  display:flex;  
  margin: 100px; 
}

.content-right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 32px;
  
}

